@keyframes shake {

    0%,
    100% {
        transform: none;
    }

    25%,
    75% {
        transform: translateX(3px);
    }

    50% {
        transform: translateX(-3px);
    }
}

.shake {
    animation: shake 500ms ease-in-out;
}