@font-face {
    font-family: "Inter";
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url("/src/fonts/inter-400.woff2") format("woff2"), url("/src/fonts/inter-400.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-weight: 500;
    font-style: normal;
    font-display: swap;
    src: url("/src/fonts/inter-500.woff2") format("woff2"), url("/src/fonts/inter-500.woff") format("woff");
}

@font-face {
    font-family: "Inter";
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url("/src/fonts/inter-700.woff2") format("woff2"), url("/src/fonts/inter-700.woff") format("woff");
}